<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% style %}
      @font-face {
        font-family: pp-neue-montreal-regular;
        src: url({{ 'pp-neue-montreal-regular.woff2' | asset_url }}) format("woff2");
        font-weight: 400;
      }

      @font-face {
        font-family: pp-neue-montreal-medium;
        src: url({{ 'pp-neue-montreal-medium.woff2' | asset_url }}) format("woff2");
        font-weight: 500;
      }

      :root {
        --font-body-family: pp-neue-montreal-regular, sans-serif;
        --font-body-weight: 400;
        --font-body-weight-bold: 500;
        --font-heading-family: tt-ramillas-regular, sans-serif;
        --font-heading-weight: 500;

        --color-base-primary: 48, 79, 68;
        --color-base-secondary: 228, 219, 207;
        --color-base-tertiary: 238, 200, 117;
        --payment-terms-background-color: var(--color-base-secondary);

        --popup-shadow: 0.6rem 0.7rem 1.5rem -0.6rem rgba(var(--color-foreground),0.1);

        --page-width: 1800px;
        --page-width-margin: 2rem;

        --spacing-sections-desktop: 0px;
        --spacing-sections-mobile: 0px;

        --grid-desktop-vertical-spacing: 2rem;
        --grid-desktop-horizontal-spacing: 2rem;
        --grid-mobile-vertical-spacing: 2rem;
        --grid-mobile-horizontal-spacing: 2rem;
      }

      @media screen and (min-width: 750px) {
        :root {
          --page-width-margin: 3.5rem;
        }
      }

      @media screen and (min-width: 990px) {
        :root {
          --page-width-margin: 5.5rem;
        }
      }
    {% endstyle %}

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
